name: Linters
on:
  push:
    branches: [main]
  pull_request:
jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7.3.1
      - uses: actions/setup-go@v6
        with:
          go-version: '1.26.0'
      - uses: golangci/golangci-lint-action@v9
      - uses: j178/prek-action@v1
        with:
          extra-args: --all-files --skip no-commit-to-branch --skip "golangci-lint-full" --skip "golangci-lint-fmt" --skip "golangci-lint-config-verify"
