on:
  pull_request:
  push:
    branches: [main]
jobs:
  lints:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    name: Build
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          # Semantic version range syntax or exact version of Go
          go-version: '1.26.x'
      - run: go test -v ./...
